<style>
  .img-container {
    text-align: center;
  }

</style>
{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}



<div class="img-container">
  <h1>Oluwatobi Olutimehin</h1>
<img src="{% static 'portfolio/nicePic.jpg' %}" style="border-radius: 50%;" class="img-fluid">
<br>
<h2 id="About">About</h2>
<hr>
<p>Hi... I am a software engineer. Presently, I am a 
  senior in Coppin State University, Baltimore and I love Liverpool F.C., Mathematics and dogs.
</p>
<p>Get in contact with me! I'd love to talk to you!</p>
</div>
<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="container-fluid">
  <div class="row">
    {% for project in projects %}
    <div class="col-lg-4 col-md-6">
  
      {% if project.url %}
      <a href="{{ project.url }}">
        <img src="{{ project.image.url }}" class="img-fluid mb-2">
      </a>
      {% else %}
  
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
      {% endif %}
      <h3>{{ project.title }}</h3>
      <p>{{ project.description }}</p>
  
    </div>
    {% endfor %}
  </div>

</div>






{% endblock %}




